* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: clamp(12px, 1vw, 20px);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 3.2rem;
    height: 13vh;
    position:fixed;
    background-color: white;
    width: 100%;

     #icon-tray{
        // padding: 2rem;
        display: flex;
        align-items: center;
        img{
          width: 12em;
          font-size: 1rem;
        }
    }
    #pages-section{
        display: flex;
        gap: 3rem;
        align-items: center;
       a{
          text-decoration: none;
       }
       #menu-icon{
        i{
          display: none;
          position: relative;
          right: -95;
        }
       }
    }
   

}


main {
  width: 100%;
  .view1-wrap {
    background-image: linear-gradient(to bottom right, #f3fcff, #d3fff5);
    // width: 100%;
  }
  .view1 {
    padding: 4.5rem 4.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .top {
      display: flex;
      gap: 6.3rem;
      margin-top: 3em;
      .left {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        h1 {
          font-size: 4.3em;
          padding-left: 4.1rem;
        }
      }
      .right {
        flex-basis: 50%;
        img {
          width: 100%;
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5vh 5vw;

      p {
        // width: 80%;
        font-size: 2.9em;
        text-align: center;
        // margin: 7rem 7.5rem 2.5/rem;
      }
    }
  }
  .view2 {
    padding: 6rem 7rem;
    #cards {
      display: flex;
      gap: 1.5rem;

      .card {
        padding-top: 1rem;
        border-top: 0.3rem solid #e8eaed;

        h3 {
          font-size: 2.5em;
          margin-bottom: 2.3rem;
        }
        p {
          font-size: 1.5em;
          margin-bottom: 5rem;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .view3 {
    background-color: #196bd4;
    padding: 3rem 10rem;
    #top {
      padding-left: 3rem;
      h4 {
        font-size: 1.7em;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: 3.7em;
        margin-bottom: 1.7rem;
      }
    }
    #bottom {
      #cards {
        // border: 2px solid black;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 8rem;
        // justify-content: space-around;

        .card {
          // border: 2px solid red;
          padding: 2.5rem;
          flex-basis: 40%;
          img {
            margin-bottom: 2rem;
          }
          h3 {
            font-size: 1.5rem;
            margin-bottom: 1.4rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .view4 {
    padding: 3rem 7rem;
    #top {
      padding-left: 7rem;
      h4 {
        margin-bottom: 1.3rem;
        font-size: 2em;
      }
      h2 {
        font-size: 5em;
      }
    }
    #bottom {
      padding: 3rem 0;
      display: flex;

      #left {
        flex-basis: 40%;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
      #right {
        flex-basis: 60%;
        padding: 0 3rem 0 7rem;
        #right-top {
          padding-bottom: 3rem;
          margin-bottom: 6rem;
          h3 {
            font-size: 2em;
            margin-bottom: 1.7rem;
          }
          p {
            font-size: 2em;
            margin-bottom: 1.5rem;
          }
          a {
            font-size: 1.6em;
            margin: 0 1.3rem 2.4rem 0;
          }
        }
        #right-bottom {
          margin-top: 3rem;
          h3 {
            font-size: 2em;
          }
          p {
            font-size: 2em;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  #view5 {
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    padding: 3.2rem 3.2rem;
    #left {
      display: flex;
      flex-direction: column;
      padding: 5rem 8.75rem 0 3.2rem;

      h4 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 500;
        opacity: 0.7;
      }
      h3 {
        font-size: 3.75rem;
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
      #button-container {
        button {
          font-size: 0.9rem;
          padding: 0.8rem;
          border: 1px solid blue;
          border-radius: 50px;
          text-align: center;
          background-color: transparent;
          text-decoration: none;
        }

        #btn-1 {
          padding: 0.8rem 2.3rem;
          color: blue;
          font-weight: 600;
          cursor: pointer;
          transition: background-color 0.7s ease, color 0.7s ease;
        }
        #btn-1:hover {
          background-color: #0468d7; /* Background turns blue */
          color: white; /* Text color changes to white for contrast */
        }
      }
    }
    #right {
      img {
        width: 30rem;
      }
    }
  }
  #view6 {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 3.2rem 3.2rem;
    #left {
      img {
        width: 27rem;
      }
    }
    #right {
      display: flex;
      flex-direction: column;
      padding: 0 3.2rem 0 8.75rem;
      h4 {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
        opacity: 0.7;
      }
      h3 {
        font-size: 3.75rem;
        margin-bottom: 2rem;
        width: auto;
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      a {
        width: 12rem;
        background-color: #0468d7;
        border-radius: 50px;
        text-align: center;
        color: #f3fcff;
        font-size: 0.9rem;
        padding: 0.6rem;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
  #view7 {
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    padding: 3.2rem 3.2rem;
    #left {
      display: flex;
      flex-direction: column;
      padding: 5rem 8.75rem 0 3.2rem;

      h4 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 500;
        opacity: 0.7;
      }
      h3 {
        font-size: 3.75rem;
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
      #button-container {
        button {
          font-size: 0.9rem;
          padding: 0.8rem;
          border: 1px solid blue;
          border-radius: 50px;
          text-align: center;
          background-color: transparent;
          text-decoration: none;
        }

        #btn-1 {
          padding: 0.8rem 2.3rem;
          color: blue;
          font-weight: 600;
          cursor: pointer;
          transition: background-color 0.7s ease, color 0.7s ease;
        }
        #btn-1:hover {
          background-color: #0468d7; /* Background turns blue */
          color: white; /* Text color changes to white for contrast */
        }
      }
    }
    #right {
      img {
        width: 30rem;
      }
    }
  }
  .view8 {
    padding: 5rem ;
    // background-color: red;
    #top {
      // background-color: grey;
      h4 {
        font-size: 1.3em;
        margin-bottom: 1rem;
      }
      #inside-top {
        // background-color: aqua;
        display: flex;
        justify-content: space-between;
        width:80rem;
        h2 {
          font-size: 4em;
          margin-bottom: 3rem;
        }
        // a {
        //   text-decoration: none;
        //   text-align: center;
        //   border: 1px solid blue;
        //   border-radius: 50px;
        //   padding: 2px 1px;
        // }
      }
    }
    #middle{
  // background-color: red;
      #cards{
          display: flex;
          overflow-x: auto;
          gap: 1rem;
          padding-bottom: 3rem;
          &::-webkit-scrollbar {
            width: 1px;
            height: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color:rgb(85, 226, 236); // Scroll thumb color
            border-radius: 1px; // Rounded corners
          }
          &::-webkit-scrollbar-track {
            // background-color:grey; // Scroll track color
          }
        .card{
          width: 100%;
            img{
              width: 25rem;
              object-fit:cover;
              padding: 1rem 0;
            }
            h3{
              font-size: 2em;
              margin-bottom: 1.7rem;
            }
            p{
              font-size: 1.3em;
              width:90%;
              // text-align: center;
            }
        }
      }
    }
    #bottom{
        display: flex;
        justify-content: end;
        padding: 3rem;
      }
  }
}

@media screen and (max-width: 600px) {
  main {
    .view1 {
      gap: 3em;
      padding: 1.5rem 1.5rem;
      .top {
        flex-direction: column-reverse;
        align-items: center;
        .left {
          h1 {
            font-size: 3.9em;
            padding-left: 0;
            text-align: center;
          }
        }
      }
      .bottom {
        p {
          font-size: 3em;
          font-weight: 400;
          line-height: 1.2;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  main {
    .view1-wrap {
      display: flex;
      justify-content: center;

      .view1 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    .view2 {
      padding: 1.5rem 1.5rem;
      #cards {
        flex-direction: column;
        // justify-content: center;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
    main{
      .view3{
        padding: 3rem 2rem;
        flex-direction:column;
        #top{

        }
        #bottom{

        }
      }
    }
}

@media  screen and (max-width:600px) {
  main{
    .view4{
      padding: 3rem 2rem;
      #top{
        padding-left: 3rem;
        h4{

        }
        h2{
          font-size: 3em;
        }
      }
      #bottom{
        flex-direction: column;
      }
    }
  } 
}

@media  screen and (max-width:600px) {
  main{
    #view5{
      padding: 3rem 2rem;
      flex-direction:column-reverse;
      #left{
        padding-left: 3rem;
        h4{

        }
        h3{
          font-size: 3em;
        }
        p{

        }
      }
      #button-container{
      
      }
      #right{

      }
    }
  } 
}



@media  screen and (max-width:600px) {
  main{
    #view6{
      padding: 3rem 2rem;
      flex-direction:column;
      #left{
        padding-left: 3rem;
        h4{

        }
        h3{
          font-size: 3em;
        }
        p{

        }
      }
      #button-container{
      
      }
      #right{

      }
    }
  } 
}



@media  screen and (max-width:600px) {
  main{
    #view7{
      padding: 3rem 2rem;
      flex-direction:column-reverse;
      #left{
        padding-left: 3rem;
        h4{

        }
        h3{
          font-size: 3em;
        }
        p{

        }
      }
      #button-container{
      
      }
      #right{

      }
    }
  } 
}


@media  screen and (max-width:600px) {
  main{
    .view8{
      padding: 3rem 2rem;
      flex-direction:column-reverse;
      #top{
        padding-left: 3rem;
        h4{

        }
        #inside-top{
          width:30rem;
          h2{
            font-size: 3em;
          }
          a{
  
          }
        }
      }
      #middle{
        #cards{
           .card{
              img{

              }
              h3{

              }
              p{

              }
           }
        }
      }
      #right{

      }
    }
  } 
}

@media screen and (max-width:600px){
    nav{
        #icon-tray{

        }
        #pages-section{
          a{
            display: none;
            }

            i{
              display: none;
            }
            #menu-icon{
              i{
              
                  display: initial;
                
              }
            }
        }
        
    }
}

